{% extends 'base.html' %}

{% block content %}

    <div class="container"> 
        <h2 class="text-info">Change Passoword Form</h1>
        <p class="text-danger">
            You can change your password here twice to make sure 
            you typed it correctly
            to ensure security
         </p>
        <form> 
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="btn btn-danger" value="Change My Password" />
        </form>
    </div>

{% endblock content %}