{% extends 'base.html' %}

{% block content %}
    {% for article in articles %}
        <div class="card">
        <div class="card-header bg-dark text-light">
            <span class="font-weight-bold">{{ article.title }}</span> &middot;
            <span class="text-muted">by {{ article.author }} |
            {{ article.date }}</span>
        </div>
        <div class="card-body">
            {{ article.body }}
        </div>
        <div class="card-footer text-muted">
            {% if user.is_authenticated %}
                <a class="btn btn-warning" href="{% url 'comments' article.id %}">Comments</a>
            {% endif %}
            {% if user.username == article.author.username %}
                <a class="btn btn-warning" href="{% url 'article_update' article.id %}">Edit</a> 
                <a class="btn btn-danger" href="{% url 'article_delete' article.id %}">Delete</a>
            {% endif %}
            
        </div>
        </div>
        <br />
    {% endfor %}
{% endblock content %}